[koji]
server = {{ robosignatory_kojihub_top_url }}/kojihub
weburl = {{ robosignatory_kojihub_top_url }}/koji
topurl = {{ robosignatory_kojihub_top_url }}

authtype = {{ robosignatory_kojihub_auth_type }}
{% if  robosignatory_kojihub_auth_type == 'kerberos' %}
krb_rdns = {{ robosignatory_kojihub_kerberos_rdns | bool }}
;the keytab to auth as for automated clients
keytab = /etc/robosignatory/{{ robosignatory_config_krb_keytab }}
{% endif %}
{% if  robosignatory_kojihub_auth_type == 'ssl' %}
cert = {{ robosignatory_kojihub_ssl_cert }}
serverca = {{ robosignatory_kojihub_ssl_ca }}
{% endif %}
